---
title: KYC Verification
sidebar_label: KYC Verification
---

## INTRODUCTION

In this section, we will show the steps to access the KYC (Know Your Customer) from your cloud management portal.

### KYC Overview

  Know Your Customer (KYC) is a regulatory process used by businesses to verify the identity of their customers. It involves collecting and authenticating customer information, such as personal details and identification documents, to ensure compliance with anti-money laundering (AML) and counter-terrorist financing (CTF) regulations. KYC helps establish the identity of individuals or entities, mitigating the risks of fraud and illicit activities. This due diligence process is essential for financial institutions, online platforms, and businesses to build trust, enhance security, and adhere to legal requirements. It typically includes verifying identities through official documents, such as passports or driver's licenses, and periodically updating customer information to maintain accuracy and compliance.

#### STEPS TO ACCESS & UPLOAD KYC DOCUMENTS FROM YOUR CLOUD PORTAL

- Login into your cloud management portal.

- Click on the company menu, under My organization select Profile.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-company-profile.jpg" width="80%" />

- Then click on KYC verification link.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-kyc-verification.jpg" width="80%" />

- The initial KYC screen will be similar as shown below.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-kyc-screen.jpg" width="80%" />

- User need to upload their document(s) based on the cloud provider requirement. In the below screen, user need to upload at least 1 of their document from the each category. 
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-id-and-address-proof.jpg" width="80%" />

- Once you upload all the required documents, then click on the submit button.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-kyc-done.jpg" width="80%" />

- Additionally, under admin comments, you might receive remarks from your cloud provider regarding document status.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-admin-comments.jpg" width="80%" />

- Also, if you have any issues completing the KYC procedure, you can submit a ticket (or) immediately send an email to the admin support staff.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-kyc-cretae-tickets.jpg" width="80%" />

- Once you click on the submit button, you will receive an popup state that you document has been submitted successfully.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-kyc-confirmation-message.jpg" width="80%" />

- Once you've uploaded your document, the document status will be in **Pending** state.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-kyc-pending.jpg" width="80%" />

- Also, you will also received an email once the document has been submitted from the user portal.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-kyc-document-successfull.jpg" width="80%" />

- Once, your document has been approved, you will status will be changed to completed in the user portal.
<img alt="cmp for apache cloudstack" src="/user-guide/organization/kyc-verification/stackbill-kyc-document-accepted.jpg" width="80%" />


